/* Variables */
/******************************************************
 General
 ******************************************************/
body {
  background: url("/images/coffee_large.png") no-repeat center center fixed;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-family: "Amatic SC", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif; }

a {
  color: white; }
  a:visited {
    color: white; }
  a:hover {
    color: #FFEECC; }

ul {
  list-style: none;
  padding: 0; }

/******************************************************
 Header
 ******************************************************/
header {
  font-size: 1.3em;
  font-family: "Reenie Beanie", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  height: 45px;
  padding: 5px; }
  header button {
    font-size: 1.3em;
    background-color: transparent;
    border: 0;
    padding: 0; }
  header ul {
    float: right;
    margin-right: 20px; }
  header li {
    display: inline;
    margin-right: 10px; }

/******************************************************
 Homepage
 ******************************************************/
.text-center {
  text-align: center; }

.greeting {
  margin-top: 185px; }
  .greeting h1 {
    font-size: 3.35em;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; }
  .greeting a {
    display: block;
    margin-top: 50px;
    font-size: 3em; }

/******************************************************
 Forms
 ******************************************************/
form {
  font-size: 1.45em; }

select,
input,
option,
.btn,
.btn:hover {
  color: black;
  font-family: sans-serif;
  font-size: 12px; }

.btn:hover {
  background-color: #DDD; }

option {
  padding: 2px; }

label {
  margin-right: 10px; }

.checkboxes > * {
  display: inline; }

.form-group {
  margin: 5px; }

.submit {
  display: block;
  margin: 0 auto; }

.textbox {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px;
  width: 100%;
  height: 25px; }

/* Coffee Form
 ******************************************************/
.offeringsForm {
  width: 350px;
  float: right; }
  .offeringsForm select {
    max-width: 300px; }
  .offeringsForm option {
    max-width: 300px; }

/* Signup/Login Forms
 ******************************************************/
.signup form,
.login form {
  margin: 100px auto;
  width: 300px; }

.signup .form-group *,
.login .form-group * {
  display: block;
  margin: 10px auto;
  width: 90%; }

/******************************************************
 Offerings 
 ******************************************************/
/* List
 ******************************************************/
.offerings,
.overview {
  float: left;
  width: 60%;
  padding: 15px;
  font-size: 1.4em;
  width: 60%; }

.offerings {
  border: 1px solid transparent; }

.list li:nth-child(odd) a {
  color: #FFEECC; }

/* List Pagination
 ******************************************************/
.pagination > li a {
  background-color: transparent;
  color: white;
  float: none;
  border: none;
  padding: 0; }
  .pagination > li a:hover, .pagination > li a:focus {
    color: #FFEECC;
    background-color: transparent; }

.pagination ul,
.pages li {
  display: inline;
  margin: 0 10px; }

.active > a {
  font-size: 1.35em; }

/* Offering
 ******************************************************/
/* Overview
 *******************************/
.background, .offeringsPage .offerings, .roasteries .list {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px; }

.overview {
  overflow: scroll; }
  .overview ul {
    margin-left: 20px;
    text-align: left; }
  .overview h1 {
    font-size: 1.2em; }
  .overview .btn {
    margin: 10px 0px; }

.category {
  color: #FFEECC; }

.value {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 0.8em;
  line-height: 1.5em; }

.price {
  display: inline-block;
  margin-left: 10px; }

.background-info,
.flavors,
.category {
  margin-right: 10px; }

/******************************************************
 Roaster
 ******************************************************/
/* Roaster Page
 *******************************/
.feeds, .roasterProfile {
  margin: 10px; }

.feeds {
  float: right;
  min-width: 400px;
  width: 60%; }

.roasterProfile {
  float: left;
  min-width: 200px;
  width: 30%; }
  .roasterProfile .offerings {
    float: none;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden; }
  .roasterProfile .btn {
    display: block;
    margin: 0 auto;
    padding: 3px;
    margin-bottom: 5px; }
  .roasterProfile .address {
    font-size: 1em; }
  .roasterProfile h3 {
    display: inline-block;
    margin-left: 20px;
    text-decoration: underline; }

/* Roasters List Page
 *******************************/
.roasteries li {
  font-size: 1.2em; }
.roasteries .list {
  margin: 0; }

/******************************************************
 User profile page
 ******************************************************/
.profile .offerings {
  height: 100%;
  width: 100%; }
.profile button {
  font-family: sans-serif;
  font-size: 0.7em;
  background: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 2px;
  margin-left: 8px; }

.profile-roasters {
  width: 200px; }
  .profile-roasters a {
    font-size: 1.2em; }

.links a {
  font-size: 1.5em;
  margin: 0 10px; }

/******************************************************
 Instagram, Google, Twitter
 ******************************************************/
.twitterFeed h2,
.instagramFeed h2 {
  text-decoration: underline; }

/* Twitter
 ******************************************************/
.tweet {
  margin-bottom: 10px; }

.tweets {
  height: 100px;
  overflow-y: scroll;
  margin-left: 20px; }

.tweetText {
  font-family: Helvetica, sans-serif;
  font-size: 0.9em; }

.tweetTime {
  color: #FFEECC; }

/* Google Map
 ******************************************************/
.map_canvas {
  position: relative;
  top: 50px;
  float: left;
  height: 400px;
  width: 600px;
  margin: 0 auto;
  color: black; }

/******************************************************
 Media Queries
 ******************************************************/
@media screen and (max-width: 1000px) {
  .overview,
  .offeringsForm,
  .offerings {
    margin: 0 auto;
    float: none; }

  .overview,
  .offerings {
    width: 90%; } }
@media screen and (max-width: 750px) {
  .profile-roaster-info,
  .offerings-followed,
  .offerings-roaster {
    margin: 10px auto;
    width: 90%;
    float: none;
    text-align: center; }

  .profile-roasters {
    margin: 10px auto;
    float: none; } }
@media screen and (max-width: 640px) {
  body {
    overflow-y: scroll; }

  .feeds,
  .roasterProfile {
    margin: 10px, auto;
    width: 90%;
    float: none;
    text-align: center; }

  .roasterProfile h3 {
    display: inline;
    margin: 0; }

  .roasterProfile .offerings {
    margin: 0 auto; } }
@media screen and (max-width: 600px) {
  .offeringsForm,
  .overview {
    float: none;
    margin: 0 auto;
    width: 90%; } }

/*# sourceMappingURL=style.css.map */
