body {
  background-image: url("/images/background_2.png");
  background-repeat: no-repeat;
  color: white;
  margin: 0;
  font-color: black;
}

a {
  color: white;
}

a:hover {
  color: darkcyan;
  color: #FFEECC;
}

ul {
  list-style: none;
}

/* Header
 *******************************/
header {
  font-size: 1.3em;
  font-family: 'Reenie Beanie', sans-serif;
  position: fixed;
  height: 45px;
  width: 100%;
}

header button {
  font-size: 1.3em;
  font-family: 'Reenie Beanie', sans-serif;
  color: white;
  background-color: transparent;
  border: 0;
  padding: 0;
}

header ul {
  position: absolute;
  right: 20px;
}

header li {
  display: inline;
  margin-right: 10px;
}

/* Main
 *******************************/
#mainContent {
  font-family: 'Amatic SC', sans-serif;
  position: fixed;
  padding: 5px;
  top: 45px;
  width: 100%;
  height: 100%;
  text-align: center;
}

.greeting {
  position: relative;
  top: 85px;
  font-size:  3.35em; 
}

.offerings li {
  font-size: 1.4em;
}

.searchAll {
  position: relative;
  top: 100px;
  font-size: 3em;
}

/* Forms
 *******************************/

form {
  font-size: 1.45em;
}

.signup,
.login {
  position: relative;
  top: 100px;
}

.offeringsForm {
  padding: 10px;
  border-radius: 4px;
  position: absolute;
  top: 400px;
  right: 40px;
}

.form-group {
  margin: 5px;
}

form label {
  margin-right: 10px;
}

form #textbox {
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 3px;
  width: 200px;
  height: 15px;
}

form .submit {
  margin-top: 10px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* Offering List / Offering
 *******************************/
.offerings,
.overview {
  width: 60%;
}

.overview p {
  font-size: 1.5em;
}

.overview ul {
  margin-left: 20px;
  text-align: left;
}

.overview li {
  font-size: 1.3em;
}

.background,
.flavors,
.category {
  margin-right: 10px;
}

/* Pagination
 *******************************/
.pagination > *,
.pages li {
  display: inline;
  margin: 0 10px;
}

.active > a {
  font-size: 1.25em;
}
