<!doctype html>
<html>
  <head>
    <link href="../public/stylesheets/style.css">
    <title>Find Coffee!</title>
  </head>
  <body>
    <div id="mount-point">
      <%- reactOutput %>
    </div>
    <script src="/main.js"></script>
  </body>
</html>
