<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Find Coffee!</title>
    <link href='//fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="mount-point"><%- reactOutput %></div>
    <script id="props" type="application/json"><%- jsonProps %></script>
    <script src="/main.js"></script>
  </body>
</html>
