<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Find Coffee!</title>
  </head>
  <body>
    <div id="mount-point"><%- reactOutput %></div>
    <script id="props" type="application/json"><%- jsonProps %></script>
    <script src="/main.js"></script>
  </body>
</html>
